$my-color: #f7f7f7;

.block {
    background: $my-color;
    &__element1 {

    }

    &__element2 {
        padding: 0;
        border: 1px solid #000;
    }

    &__elem1, &__elem2 {
        border: 1px solid #000;
    }
}

